@font-face {
    font-family: "Causten";
    src: url("../fonts/Causten-Regular.woff2") format("woff2"),
        url("../fonts/Causten-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Causten";
    src: url("../fonts/Causten-Light.woff2") format("woff2"),
        url("../fonts/Causten-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Causten";
    src: url("../fonts/Causten-Medium.woff2") format("woff2"),
        url("../fonts/Causten-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Causten";
    src: url("../fonts/Causten-Semi-Bold.woff2") format("woff2"),
        url("../fonts/Causten-Semi-Bold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Causten";
    src: url("../fonts/Causten-Bold.woff2") format("woff2"),
        url("../fonts/Causten-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}